* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, '微软雅黑', sans-serif;
	font-size: 13px;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	background-image: url(../images/a1.jpg);

}

.nav {
	height: 90px;
}

.nav tr {
	text-align: center;
}

.nav tr td a {
	color: #026a7b;
	padding: 9px 26px;
	font-size: 15px;
	font-weight: bold;

	text-decoration: none;
}

.nav tr td a:hover,
.nav tr td a.active {
	background: pink;
}

.branding {
	position: relative;
	z-index: 10;
}

#footer {
	height: 60px;
	color: #E8E1AA;
	font-weight: bold;
	background: url("../images/border-yellow.png") repeat-x left top;
}

.t1 {
	clear: both;
	padding-bottom: 20px;
	margin-bottom: 40px;
	background: url("../images/hr2.png") no-repeat bottom center
}

.main tr td table tr td .t1 table tr td p {
	text-align: justify;
}

#btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 100px;
	height: 100px;
	border: 1px solid red;
	display: none;
}
